#calculator{
    width: 30vw;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    width: 20%;
    margin: 10px;
    border-radius: 10px;
}

#calculator .row {
   display:flex;
   width: 70%;
   height:13%
}